<!DOCTYPE html>
<html>
  <head>
    <title>{{ TITLE }}</title>
    <meta name="description" content="{{ DESCRIPTION }}" />
    <meta name="keywords" content="{{ KEYWORDS }}" />
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        font: 14px Verdana, Arial, Sans-Serif;
      }
      .plant-row {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
      }
      .plant {
        margin: 0;
        padding: 10px 10px;
        text-align: center;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="plant-row">
      {% for plant in objects %}
        <div class="plant" style="background-color:{{ plant.color }}">
          <p><strong>{{ plant.name }}</strong>: {{ plant.description }}</p>
          <p>Water {{ plant.water_repeat_every_human }}</p>
          <p>Feed {{ plant.feed_repeat_every_human }}</p>
          <progress
            value="{{ plant.schedule.water_time_left_percent }}"
            max="100"
          ></progress
          ><br />
          Next watering date: {{ plant.schedule.scheduled_water_date }}
          <br /><br />
          <span>{{ plant.schedule.water_time_left.0 }} days,</span>
          <span>{{ plant.schedule.water_time_left.1 }} hours</span> left
          <progress
            value="{{ plant.schedule.feed_time_left_percent }}"
            max="100"
          ></progress
          ><br />
          Next feed date: {{ plant.schedule.scheduled_feed_date }}
          <br /><br />
          <span>{{ plant.schedule.feed_time_left.0 }} days,</span>
          <span>{{ plant.schedule.feed_time_left.1 }} hours</span> left
        </div>
        <hr />
      {% endfor %}
    </div
  </body>
</html>
